@require "~darch/src/styles/variables";

.badge
    display: inline-block;
    vertical-align: middle;
    padding: 0.4em 0.7em;
    line-height: 1 !important;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    border-bottom-left-radius: 10em;