.page
    table
        td,th
            vertical-align: middle;

.buttons-container
    margin-bottom: 15px;
    text-align: right;
    
.color-box
    display: inline-block;
    width: 1em;
    height: 1em;

.color-column,
.priority-column
    width: 1%;

.color-cell
    line-height: 0;

.priority-cell
    font-size: 0.8em;
    
.category-tag-container
    margin-right: 5px;
    margin-bottom: 5px;