.page
    padding-top: 30pt;

.label
    font-size: 0.9em;

.logo-container
    margin-bottom: 20pt;
    text-align: center;

    .logo
        width: 30%;

.button-container
    text-align: right;
    margin-top: 30pt;

    button
        width: 100% !important;

.spinner-container
    padding-left: 0.8em;
