@require "~darch/src/styles/variables"

.panel-row + .panel-row
    margin-top: 20px;

.tag-container
    margin-right: 5px;
    margin-bottom: 5px;

.selected-tags-panel-container
    font-size: 1em;
    
    > div > form > span > div > div
        border: none;
        background: white;
        padding: 0;
    
    > div > form > span > div > ul
        background: white;
        margin-top: 10px;
        