.product-image
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

.filters-container
    text-align: right;
    margin-bottom: 10px;
    
    span + span,
    div + span
        margin-left: 5px;