@require "~darch/src/styles/variables"

.rooms
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    top: $bar-height + 20pt;

.left
    background: #f5f5f5;
    position: absolute;
    left: 0pt;
    top: 0;
    width: 250pt;
    height: 100%;
    padding: 5pt 0;
    overflow-y: scroll;

.right
    position: absolute;
    height: 100%;
    left: 270pt;
    right: 20pt;