.header
    .title
        overflow: auto;

        .add-address-button-container
            float: right;

.add-address-button-container-phone
    margin-bottom: 30px;
    
    button
        width: 100%;

.label
    font-size: 0.8em;

.address-card + .address-card
    border-top: 1px solid #efefef;

.address-card
    display: table;
    width: 100%;
    padding: 15px 0;
    
    .address-select
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        padding-right: 15px;
    
    .address-body
        display: table-cell;
        vertical-align: middle;
        
        .address-label
            font-weight: 800;
        
        .address-info
            font-size: 0.8em;
            color: #aaa;