@require "~darch/src/styles/variables";

.number-field-container
    position: relative;
    
    input
        padding-right: 3em;
    
    .brand-icon-container
        position: absolute;
        
        top: 0;
        right: $field-padding-horizontal;
        
        span
            line-height: 1; 
            font-Size: 2em;

.separator
    margin: 40px 0 5px 0;