@require "~darch/src/styles/variables";

.term
    padding: 0.5em 1em;
    margin: 0 0.5em 0.5em 0;
    border: 1px solid #ddd;
    color: #aaa;
    border-radius: 1em;
    display: inline-block;
    cursor: pointer;
    
    &.selected
        border-color: $field-border-color-focus;
        color: $field-border-color-focus;
    
    
    