@require "~darch/src/styles/variables"

.form-container
    @media (min-width: $screen-tablet-min)
        padding-left: 20pt;

.button-container
    text-align: right;

.spinner-container
    padding-left: 0.8em;
