@require "~darch/src/styles/variables"

.sidebar
    padding: 15px;
    border: 5px solid #f1f1f1;
    
    .title
        margin: 0
        margin-bottom: 10px;
    
    .detail-container
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;

    .total-price-container
        margin-top: 10px;
        
        .price-value
            font-size: 32px;
            font-weight: 800;
    
    .button-container
        margin-top: 20px;