@require "~darch/src/styles/variables";

.badge
    display: inline-block;
    background: $color-moody;
    padding: 1px 12px;
    border: 8px solid white;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    border-bottom-left-radius: 10em;
    color: white;
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 3px;
    z-index: 2;