@require "~darch/src/styles/variables"

.panel
    border: 1px solid #e1e1e1;
    padding: 20px;
    display: inline-block;
    border-radius: 2px;
    margin: 0 5px;
    position: relative;
    
    .label
        font-size: 0.8em;
        font-weight: 600;
        color: #ccc;
        position: absolute;
        top: -0.8em;
        right: 5px;
        padding: 0 5px;
        background: white;

        a,button
            color: $color-moody;
            font-weight: 600 !important;
            display: inline-block;
            vertical-align: middle;
        
        button
            font-size: 1em !important;
            
    textarea, input
        border: none;
        background: transparent;
        padding: 0;
        line-height: $text-line-height;
        
    &.active
        //background: #f5f5f5;
        border-color: $color-moody !important;

.panel-block
    display: block;