@require "~darch/src/styles/variables"
@require "~darch/src/button/styles"

.logo
    height: ($bar-height - 10pt);

.link-active
    color: $text-color !important;
    
.content
    padding-top: 20pt;

.create-button
    composes: button;
    composes: button-flat;
    composes: button-flat-moody;
    
    padding: 0.1em 1em !important;
    color: white !important;
    height: auto !important;

.account-button
    display: block !important;
    
    @media (min-width: $screen-tablet-min) {
        margin-left: 10pt;
    }
    
    span 
        font-size: 26pt;