.card
    display: table;
    width: 100%;
    
    &:hover
        background: #f9f9f9;
    
.card-status-0
    background: rgba(228, 241, 254, 0.4);
    
    &:hover
        background: rgba(228, 241, 254, 0.6);

.left-view
    display: table-cell;
    padding: 10pt 5pt 10pt 10pt;
    vertical-align: top;
    line-height: 0;
    width: 1%;
    
    span
        font-size: 28px;
        color: #F9690E;
        display: inline-block;
        margin-top: -2px;

.body
    display: table-cell;
    padding: 10pt 10pt 10pt 5pt;
    vertical-align: middle;
    
.options-row
    margin-top: 3px;
    
    button + button
        margin-left: 5px;

.selected-option-row
    margin-top: 3px;
    
    font-size: 0.8em;