@require "~darch/src/styles/variables"
@require "~darch/src/container/styles";

.room
    position: absolute;
    left: 0;
    bottom: 0;
    top: $bar-height + 20pt;
    width: 100%;

.room-container
    composes: container;
    position: realative;
    height: 100%;