.box
    background: #f9f9f9;

    .header
        border-bottom: 1px solid #ddd;
        
        .title-container
            padding: 20px 20px 20px 20px;

    
    .body
        padding: 40px 40px 40px 40px;
        
        table
            font-size: 0.8em;
            
            th
                border-top: none;