@require "~darch/src/styles/variables"

.loading-container
    margin-top: 20px;
    text-align: center;

.search-container
    > div > div
        padding-left: 0;

    //.field-container
        //margin-top: 20px;

    /*.search-loading-container
        padding-left: 10px;*/

    .action-buttons-container
        text-align: right;

        /*@media (max-width: $screen-phone-max)
            display: none;*/

.aux-container
    margin-top: 5px;
    margin-bottom: 20px;

    .filters-container
        @media (max-width: $screen-phone-max)
            display: none;

    .search-loading-container
        display: inline-block;

.list-carousel-container
    margin: 40px 0 0 0;

.products-container
    margin: 30px 0 0 0;

.button-container + .button-container
    margin-left: 10px;

.list-name-container
    text-align: right;

    span
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
