@require "~darch/src/styles/variables"
@require "~darch/src/label/styles"

.page
    h3
        margin-top: 0;

.image
    line-height: 0;
        
    img
        width: 100%;

.button-container
    text-align: right;

.spinner-container
    padding-left: 0.8em;

.form-container
    @media (min-width: $screen-tablet-min)
        padding: 0 20pt;

.no-highlight
    color: #bbb;

.color-box-active
    border-color: #eee !important;

.color-box
    display: inline-block;
    border: 2px solid transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    &:hover
        @extend .color-box-active;

.separator
    margin: 0 5px;

.file-input-button
    position: relative;
    display: inline-block;
    line-height: 1;
    
    > label
        cursor: pointer;
        color: orange;
        font-weight: 600;
        /*padding: 0.2em 0.6em;
        background: orange;
        color: white;*/
        line-height: 1;