.badge-container
    position: relative;
    
    .badge
        position: absolute;
        width: 13px;
        height: 13px;
        background: #22A7F0;
        top: -3px;
        right: -4px;
        border: 2px solid #282828;
        border-radius: 50%;

.title
    span
        top: 0;
        font-size: 18px;