@require "~darch/src/styles/variables"

.page
    padding-bottom: 60px;

.image
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

button
    padding-left: 1em !important;
    padding-right: 1em !important;

button + button
    margin-left: 5px !important;

.coupons-container
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
    
.applied-coupons-container
    .title
        margin-right: 5px;
        font-size: 0.8em;
        
    span + span
        margin-left: 5px;

.body-container
    @media(min-width: $screen-tablet-min)
        padding-right: 20px;

.sidebar-container
    padding-left: 20px;
    padding-top: 40px;

.checkout-box
    padding: 15px;
    border: 5px solid #f1f1f1;
    
    .title
        margin: 0
        margin-bottom: 10px;

    .discount-info-container
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;

    .total-price-container
        margin-top: 10px;
        
        .price-value
            font-size: 32px;
            font-weight: 800;
    
    .button-container
        margin-top: 20px;