.carousel
    .body
        //border-bottom: 1px dashed #ddd;
        padding: 20px 0;
        line-height: 0;
        overflow-x: hidden;
        white-space: nowrap;
        margin-bottom: 30px;

        .card-container
            display: inline-block;
            line-height: 0;

        .card-container + .card-container
            margin-left: 20px;
