.box
    background: #f9f9f9;
    border: 3px solid #efefef;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    
    &:hover
        background: #f6f6f6;
        
    &.active
        border-color: #89C4F4;

    .title
        font-weight: 600;