@require "~darch/src/styles/variables"

.page
    h3
        margin-top: 0;

.image
    line-height: 0;
        
    img
        width: 100%;

.button-container
    text-align: right;

.spinner-container
    padding-left: 0.8em;

.form-container
    @media (min-width: $screen-tablet-min)
        padding: 0 20pt;

.no-highlight
    color: #bbb;